{% extends "layout.html" %}
{% block body %}
{% if request.user.is_authenticated %}
  <h3>  HOŞGELDİNİZ {{request.user.username}}</h3>
{% else %}
        <h3>HOŞGELDİNİZ</h3>
{% endif %}
<div class="jumbotron text-center">

<h3>Hasan Demirin Blog Sitesine Hoşgeldiniz</h3>
<p>Herkesin kendi tarzını yansıtabilmesi gerektiğine; dinlediğimizde, paylaştığımızda ve hikayelerimizle birbirimize bağlandığımızda dünyanın daha güzel bir yer olacağına inanıyoruz.

Değerlerimiz, bizi biz yapan dört temel özgürlüğe dayanıyor.
İfade Özgürlüğü
Herkesin kendisini özgürce ifade edebilmesi, fikirlerini paylaşabilmesi ve başkalarının da katkıda bulunduğu bir diyalog ortamını destekleyebilmesi gerektiğine inanıyoruz. İnsanlar yaratıcılığını serbestçe ortaya çıkarabildiğinde yeni tarzların, formatların ve olasılıkların doğabileceğini düşünüyoruz.

Bilgi Edinme Özgürlüğü
Herkesin bilgiye kolayca ve sorunsuzca erişebilmesi gerektiğine, videonun da insanları eğitmek, birbirimizi daha iyi anlamak, dünyada yaşanan küçük ya da büyük her olayı kayda geçirmek için çok etkili bir araç olduğuna inanıyoruz.

Fırsat Özgürlüğü
Herkese keşfedilme, işletme kurma ve kendi değerleri doğrultusunda başarıya ulaşma şansı tanınması gerektiğine inanıyoruz. Neyin popüler olacağına belirli bir grubun değil, geniş kitlelerin karar vermesini istiyoruz.

Aidiyet Özgürlüğü
Herkesin birbirine destek olan, engelleri aşan, sınırların ötesine geçen ve ortak ilgi alanları ile tutkular etrafında bir araya gelen topluluklar bulabilmesi gerektiğine inanıyoruz.</p>
</div>
<p>






</p>




{% endblock  %}